<a href="https://colab.research.google.com/github/algoexpert2468/Code_resolver/blob/main/first_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
print("hello")
import pandas as pd
from google.colab import drive
drive.mount('/content/gdrive')
titanic=pd.read_csv('/content/gdrive/MyDrive/titanic.csv')
titanic.head()
titanic.dtypes
titanic.columns
titanic_columns=titanic.columns

In [14]:
titanic.index

RangeIndex(start=0, stop=887, step=1)

In [16]:
titanic.describe()

,Survived,Pclass,Age,Siblings/Spouses,Parents/Children,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.471443,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.121908,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.420000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.250000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920

titanic.info()

In [18]:
titanic.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Survived             0.385569
Pclass               2.305524
Age                 29.471443
Siblings/Spouses     0.525366
Parents/Children     0.383315
Fare                32.305420
dtype: float64

In [20]:
titanic_deaths=pd.Series([100,200,300])
titanic_deaths.mean()

200.0

In [21]:
titanic.sum()

Survived                                                          342
Pclass                                                           2045
Sex                 malefemalefemalefemalemalemalemalemalefemalefe...
Age                                                          26141.17
Siblings/Spouses                                                  466
Parents/Children                                                  340
Fare                                                       28654.9077
dtype: object

titanic["Pclass"].sum()

In [23]:
titanic

,Survived,Pclass,Sex,Age,Siblings/Spouses,Parents/Children,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0,13.0000
883,1,1,female,19.0,0,0,30.0000
884,0,3,female,7.0,1,2,23.4500
885,1,1,male,26.0,0,0,30.0000
886,0,3,male,32.0,0,0,7.7500